* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: rgb(18, 18, 20);
  background: linear-gradient(
    360deg,
    rgba(18, 18, 20, 1) 0%,
    rgba(19, 19, 19, 1) 100%
  );
}

p,
span,
a {
  font-size: 14px;
}

h1 {
  font-size: 24px !important;
  font-weight: 800 !important;
}

h2 {
  font-size: 24px !important;
}

a {
  text-decoration: none;
  color: white !important;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.gradient-container {
  background: rgb(123, 66, 243);
  background: linear-gradient(
    135deg,
    rgba(123, 66, 243, 1) 0%,
    rgba(0, 255, 26, 1) 100%
  );
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-container {
  padding: 5px;
  border-radius: 999px;
}

header {
  padding: 56px 160px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

.navbar-nav {
  gap: 30px;
}
.nav-item.active {
  font-weight: 800;
}

nav > ul > li:first-child {
  font-weight: 800;
  text-decoration: underline;
}

main {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0 90px;
}

.section-container > section {
  background-color: #2f2336;
  padding: 20px 55px;
  width: 100%;
}

.section-container {
  padding: 3px;
  border-radius: 3px;
  margin: 16px 0;
  width: 100%;
}

.section-container > section > h1 {
  margin-bottom: 10px;
}

.section-container > section > p {
  font-weight: 400;
  padding: 10px 0;
}

.content-project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.project-img-container {
  position: relative;
  width: 350px;
  height: 430px;
  border-radius: 6px;
}

.overlay-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 6px;
}

.project-img-container:hover .overlay-project {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.project-img {
  position: absolute;
  left: 0;
  border-radius: 6px;
  width: 350px;
  height: 430px;
  object-fit: cover;
}

.project-btns-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.project-img-container:hover .project-btns-container {
  opacity: 1;
}

.project-btn {
  padding: 8px 16px;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}

.btn-white {
  background: white;
  color: #000;
}

.btn-transparent {
  background-color: transparent;
  color: #fff;
  border: solid 2px #fff;
}

.language-cards {
  display: flex;
  gap: 9px;
}

.language-card {
  font-weight: 500;
  padding: 6px 12px;
  border: solid #fff 2px;
  border-radius: 12px;
}

.btn-white:hover {
  background-color: transparent;
  color: #fff;
  border: solid 2px #fff;
  transition: 0.3s;
}

.btn-transparent:hover {
  background: white;
  color: #000;
  border: none;
  transition: 0.8s;
}

/* 
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */

/* 
.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
   */
